{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>

</head>

<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="/" class="top-menu"><i class="fab fa-firstdraft"></i></a>
            <a href="{% url 'post_new' %}" class="top-menu"><i class="fa fa-plus fa-2x"></i></a>
           
            <p class="top-menu">Hello, {{ user.username }} <small><a href="{% url 'logout' %}">(Logout)</a></small></p>
           
                

        {% else %}
            <a href="{% url 'login' %}" class="top-menu">Login<i class="fas fa-sign-in-alt fa-2x"></i></a>
        
        {% endif %}

        <h1><a href="/">wikiREALTY</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8"></div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </div>


</body>

</html>